.video-home {
  width: 75%;
  max-height: 300px;
  height: 100%;
}

.aguarde {
  text-align: center;
  margin: 2% 0%;
}

.description {
  font-size: 18px;
  font-style: italic;
  color: #282828;
  font-family: "Montserrat", sans-serif;
}

.treinamento-on {
  text-align: center;
  margin: 35px 0px;
}

.webinar-aguarde {
  text-align: center;
}

.video-home {
  width: 75%;
  max-height: 300px;
  height: 100%;
}

.aguarde {
  text-align: center;
  margin: 2% 0%;
}

.rodape {
  display: none;
}

.title-treinamento {
  font-size: 2.5rem;
  color: rgb(181, 87, 45);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}

.description {
  font-size: 18px;
  font-style: italic;
  color: #282828;
  font-family: "Montserrat", sans-serif;
}

.treinamento {
  color: #fd000d;
  font-size: 24px;
  letter-spacing: -0.8px;
  border: 1px solid #282828;
  padding: 10px;
  border-radius: 50px;
}

.treinamento:hover {
  background: #1f3876;
}

.line-com {
  margin-top: 20px;
  border-top: 10px solid #fff;
}

.sep-topo {
  padding: 10px 0px;
  display: table;
}

.iframe-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.treinamento:hover {
  color: #fff;
}

.treinamento-off {
  color: #1f3876;
  font-size: 22px;
}

.material-treinamento {
  border: 1px solid #aa6b12;
  padding: 12px 20px;
  color: #aa6b12;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 19px;
  display: block;
  text-align: center;
  margin: 10px 0px;
}

.material-treinamento:hover {
  background: #aa6b12;
  color: #fff;
  text-decoration: none;
}

.certificado-content {
  border: 1px solid #1f3876;
  padding: 12px 20px;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  display: block;
  text-align: center;
  margin: 10px 0px;
  color: #1f3876;
  font-weight: bold;
}

.certificado-content:hover {
  background: #1f3876;
  color: #fff;
}

.message-i {
  text-align: center;
  display: block;
  font-size: 15px;
  color: #333;
}

@media (max-width: 576px) {
  .iframe-embed {
    height: 650px;
    margin-top: 30px;
  }

  .description {
    font-size: 11px;
  }

  .title-treinamento {
    margin-bottom: 0px;
    line-height: 30px;
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .iframe-embed {
    height: 650px;
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .iframe-embed {
    height: 650px;
    margin-top: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .iframe-embed {
    height: 950px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
}

.control-frames {
  max-width: 100%;
}

p {
  margin: 5px 0px;
}

.reply {
  margin-left: 1%;
}

.listagem {
  padding: 10px;
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.MessageID {
  font-size: 20px;
  color: #001e45;
}

.MessageNomeOficinaaa {
  font-size: 14px;
  background: #1f3876;
  color: #fff;
  padding: 0.5% 1%;
  border-radius: 10px;
}

.MessageNomeOficina {
  border: 1px solid #1f3876;
  padding: 4px 10px;
  color: #1f3876;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.MessageNome {
  font-size: 15px;
  color: #001e45;
  font-style: italic;
  text-decoration: underline;
}

.texaco-diz {
  color: #1f3876;
}

.MessageTime {
  font-size: 11px;
  font-style: italic;
  color: #333;
}

.MessageComplete {
  font-size: 15px;
  color: #333;
  font-weight: 600;
}

.tema {
  text-align: center;
  font-family: "Montserrat", sans-serif;

  color: #333;
  text-transform: uppercase;
  font-size: 110%;
  line-height: 25px;
}

.strong-tema {
  color: #1f3876;
}

.sep-info {
  margin: 30px 0px;
}

.sep-content {
  margin: 30px 0px;
}

.sep-content-2 {
  margin: 10px 0px;
  display: inline-block;
}

.section-1-t-full {
  background: #f3f3f3;
}

.title-material-tecnico {
  font-size: 25px;
  text-align: center;
}
