
.slick-dots li.slick-active button::before {
    size: 50px;
    color:White !important;
    opacity: 1 !important;
}

.slick-dots li button::before {
    color:rgb(209, 209, 209) !important;
    opacity: 0.0 !important;
    font-size: 40px;
}
.slick-dots li button:before {
    font-size: 10px !important;
    
    /* width: 5px !important; */
}
.slick-dots li button:hover::before {
    font-size: 10px !important;
    color:rgb(209, 209, 209) !important;
    opacity: 0.4 !important;
    
    /* width: 5px !important; */
}
